@import "nullstyle.scss";

body {
	font-family: Montserrat;
	font-size: 13px;
}
.main {
	display: flex;
}
.main__leftside {
	height: 1080px;
	width: 20%;
	background: black;
}
.main__center {
	height: 1080px;
	width: 80%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6) 0, #121212 100%);
}
.main__logo {
	padding: 24px;
}
.main__navi {
	font-weight: 600;
	letter-spacing: 0.5px;
	.list-group-item {
		color: white;
	}
	.list {
		padding: 10px 20px;
	}
	.fa {
		padding: 0 15px 0 0;
	}
}
.main__top {
	background-color: rgba($color: #000000, $alpha: 0.6);
	height: 64px;
}
.main__top-buttons {
	margin: 0 0 0 25px;
	display: flex;
	justify-content: space-between;
}
.main__left-button,
.main__right-button {
	margin-top: 10px;
	.button-group-item {
		opacity: 0.6;
		color: #fff;
	}
}
.main__user-profile {
	margin: 20px;
	text-align: center;
	height: 24px;
	line-height: 24px;
	border-radius: 23px;
	width: 100px;
	background-color: rgba($color: #000000, $alpha: 0.7);
	a {
		color: #fff;
	}
}
.main__angle {
	display: flex;
	width: 100px;
	justify-content: space-between;
}
.main__title {
	margin: 10px 0 5px 25px;
	font-size: 24px;
	font-weight: 600;
	color: #fff;
}
.main__subtitle {
	margin: 0 0 10px 25px;
	font-size: 16px;
	color: rgba($color: #fff, $alpha: 0.7);
}
.main__content {
	justify-content: space-around;
}
.main__albums-container {
	display: flex;
	width: 100%;
	justify-content: space-around;
	margin-bottom: 25px;
	flex-wrap: wrap;
	align-items: center;
}
.main__albums-item {
	width: 176px;
	height: 250px;
	.cover {
		border-radius: 5%;
		margin-bottom: 10px;
	}
}
.main__albums-item-title {
	font-size: 18px;
	font-weight: 400;
	color: #fff;
}
.main__albums-item-subtitle {
	color: rgba($color: #fff, $alpha: 0.7);
}
.main__albums-item:hover {
	background-color: rgba($color: #000000, $alpha: 0.7);
	border-radius: 5%;
}
.main__footer {
	height: 70px;
	border-top: 1px solid rgb(56, 55, 55);
	background-color: black;
}
.main__player {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.mini-cover {
	width: 56px;
	height: 56px;
}
.main__content-info {
	width: 422px;
	display: flex;
	align-items: center;
}
.main__player-title {
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	margin: 0 0 5px 10px;
}
.main__player-subtitle {
	margin-bottom: 10px;
	color: rgba($color: #fff, $alpha: 0.7);
	margin: 0 0 5px 10px;
}
.fa-heart {
	margin-left: 15px;
}
.fa-heart:active {
	color: greenyellow;
}
.button-group-item {
	color: #fff;
}
.main__player-controls-upper {
	width: 300px;
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
	margin-bottom: 5px;
}
.main__player-controls {
	width: 563px;
	display: flex;
	flex-direction: column;
}
#current-time,
#duration {
	color: #fff;
}
#seek-slider {
	width: 240px;
}
@media (max-width: 1170px) {
	.cover {
		width: 128px;
	}
	.main__albums-item {
		width: 128px;
	}
	.main__title {
		font-size: 18px;
	}
	.main__subtitle {
		font-size: 12px;
	}
}
